#
# Module translations - commands
#
# @language		en_US
#
# @license		More in license.md
# @copyright	https://www.fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:DevicesModule!
# @subpackage	Translations
# @since		0.1.0
#
# @date			13.02.20
#

deviceCreate:
	type:
		title: "Device type"
	name:
		title: "Device name"
	identifier:
		title: "Communication identifier"

	validation:
		device:
			wasNotCreated: "Device could not be created in the system. Error: %error%"

	success: "Device was successfuly created."
