#
# Module translations
#
# @language       en_US
#
# @license        More in LICENSE.md
# @copyright      https://www.fastybird.com
# @author         Adam Kadlec <adam.kadlec@fastybird.com>
# @package        FastyBird:DevicesModule!
# @subpackage     Translations
# @since          1.0.0
#
# @date           13.04.19
#

base:
    messages:
        notValidJson:
            heading: "Not valid content"
            message: "Provided request content is not valid JSON content"
        notValidJsonApi:
            heading: "Not valid content"
            message: "Provided request content is not valid {JSON:API} content"
        failed:
            heading: "Request failed"
            message: "Provided request failed and can't be finished"
        forbidden:
            heading: "Not allowed"
            message: "You are not allowed to perform this action"
        unauthorized:
            heading: "Not authorized"
            message: "You are not authorized to perform this action"
        notFound:
            heading: "Not found"
            message: "Requested entity was not found"
        notCreated:
            heading: "System error"
            message: "Something went wrong, entity could not be created"
        notUpdated:
            heading: "System error"
            message: "Something went wrong, entity could not be updated"
        notDeleted:
            heading: "System error"
            message: "Something went wrong, entity could not be deleted"
        invalidIdentifier:
            heading: "Invalid identifier"
            message: "Provided entity identifier is not valid"
        invalidType:
            heading: "Invalid type"
            message: "Provided entity type is not valid"
        invalidAttribute:
            heading: "Invalid attribute"
            message: "Provided entity attribute is not valid"
        invalidRelation:
            heading: "Invalid relation"
            message: "Provided relation is not valid"
        unknownRelation:
            heading: "Relation not found"
            message: "Requested unknown relation"
        relationNotFound:
            heading: "Relation not found"
            message: "Requested relation %relation% was not found"
        missingAttribute:
            heading: "Missing attribute"
            message: "Provided request is missing required attribute"
        missingRelation:
            heading: "Missing required relation"
            message: "Provided request is missing required relation"
        uniqueIdentifier:
            heading: "Identifier not unique"
            message: "Provided identifier is not unique"
        uniqueAttribute:
            heading: "Attribute not unique"
            message: "Provided attribute is not unique"

cmd:
    base:
        questions:
            continue: "Would you like to continue?"
            whatToDo: "What would you like to do?"
            exit: "Do you want to exit?"

        messages:
            answerNotValid: "Selected answer: \"%s\" is not valid."

    install:
        title: "Devices module - installer"
        subtitle: "This action will create|update|delete module configuration"

        info:
            database: "Preparing module database"

        messages:
            success: "Devices module has been successfully initialized and can be now used."
            error: "Something went wrong, initialization could not be finished. Error was logged."
            initialisationFailed: "Something went wrong, initialization could not be finished."
            databaseReady: "Devices module database has been successfully initialized."
            databaseFailed: "Something went wrong, database initialization could not be finished."

    exchange:
        title: "Devices module - exchange"
        subtitle: "This action will run module exchange service"

        messages:
            error: "Something went wrong, an unhandled error occur. Error was logged."

    connector:
        title: "Devices module - connector"
        subtitle: "This action will run module connector service"

        questions:
            selectConnector: "Please select connector to execute"

        info:
            initialization: "Initializing connector"
            preparing: "Preparing connector"

        messages:
            error: "Something went wrong, service could not be finished. Error was logged."
            connectorNotFound: "Connector was not found in system."
            noDiscoverableConnectors: "No connectors with discovery support registered in system."
            noConnectors: "No connectors registered in system."
            loadConnectorError: "Something went wrong, connector could not be loaded."
            connectorDisabled: "Connector is disabled. Disabled connector could not be executed."
            notSupportedConnector: "Connector does not support devices discovery."

    diagnostics:
        title: "Devices module - diagnostics"
        subtitle: "This action will run module diagnostics"

        actions:
            nothing: "Nothing"

            list:
                connectors: "List connectors"
                devices: "List devices"
                channels: "List channels"
                properties: "List properties"
            properties:
                connectors: "Connectors properties"
                devices: "Devices properties"
                channels: "Channels properties"
            select:
                allConnectors: "All connectors"
                allDevices: "All devices"
                allChannels: "All channels"

        questions:
            whatType: "Select type to display"
            select:
                connector: "Select connector"
                device: "Select device"
                channel: "Select channel"

        data:
            connector: "Connector"
            device: "Device"
            channel: "Channel"
            name: "Name"
            status: "Status"
            type: "Type"
            devicesCnt: "# Devices"
            channelsCnt: "# Channels"
            propertiesCnt: "# Properties"
            defaultValue: "Default value"
            value: "Value"
            isValid: "Is valid"

        messages:
            connectorDisabled: "Connector is disabled. Disabled connector could not be diagnosed."
