#
# Module translations
#
# @language		en_US
#
# @license		More in LICENSE.md
# @copyright	https://www.fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:DevicesModule!
# @subpackage	Translations
# @since		0.1.0
#
# @date			13.04.19
#

base:
	messages:
		notValidJson:
			heading	: "Not valid content"
			message	: "Provided request content is not valid JSON content"
		notValidJsonApi:
			heading	: "Not valid content"
			message	: "Provided request content is not valid {JSON:API} content"
		failed:
			heading	: "Request failed"
			message	: "Provided request failed and can't be finished"
		forbidden:
			heading	: "Not allowed"
			message	: "You are not allowed to perform this action"
		unauthorized:
			heading	: "Not authorized"
			message	: "You are not authorized to perform this action"
		notFound:
			heading	: "Not found"
			message	: "Requested entity was not found"
		notCreated:
			heading	: "System error"
			message	: "Something went wrong, entity could not be created"
		notUpdated:
			heading	: "System error"
			message	: "Something went wrong, entity could not be updated"
		notDeleted:
			heading	: "System error"
			message	: "Something went wrong, entity could not be deleted"
		invalidIdentifier:
			heading	: "Invalid identifier"
			message	: "Provided entity identifier is not valid"
		invalidType:
			heading	: "Invalid type"
			message	: "Provided entity type is not valid"
		invalidAttribute:
			heading	: "Invalid attribute"
			message	: "Provided entity attribute is not valid"
		invalidRelation:
			heading	: "Invalid relation"
			message	: "Provided relation is not valid"
		unknownRelation:
			heading	: "Relation not found"
			message	: "Requested unknown relation"
		relationNotFound:
			heading	: "Relation not found"
			message	: "Requested relation %relation% was not found"
		missingAttribute:
			heading	: "Missing attribute"
			message	: "Provided request is missing required attribute"
		missingRelation:
			heading	: "Missing required relation"
			message	: "Provided request is missing required relation"
		uniqueIdentifier:
			heading	: "Identifier not unique"
			message	: "Provided identifier is not unique"
		uniqueAttribute:
			heading	: "Attribute not unique"
			message	: "Provided attribute is not unique"
