@import '@fastybird/web-ui-library/src/assets/mixins/utilities';

.fb-devices-module-view-connectors {
	&__loading {
		justify-content: center;
		align-items: center;
		min-height: 100%;
		margin: 0 auto;

		@include flex-row(nowrap);
	}
}
