@import '@fastybird/web-ui-library/src/assets/variables/colors';
@import '@fastybird/web-ui-library/src/assets/variables/layout';
@import '@fastybird/web-ui-library/src/assets/mixins/utilities';

.fb-devices-module-view-connector-settings {
	&__buttons {
		border-top: 1px solid $gray-lighter;
		z-index: 10;
		justify-content: right;
		column-gap: $padding-sm;
		background-color: $bg-color-body;

		@include box-shadow(0 -3px 9px rgba(0, 0, 0, 0.5));
		@include flex-row(nowrap);

		&-save {
			order: 2;
		}

		&-close {
			order: 1;
		}
	}
}
