#
# Module DI configuration
#
# @license        More in LICENSE.md
# @copyright      https://www.fastybird.com
# @author         Adam Kadlec <adam.kadlec@fastybird.com>
# @package        FastyBird:DevicesModule!
# @subpackage     config
# @since          1.0.0
#
# @date           25.11.20

php:
    date.timezone: Europe/Prague

extensions:
    contributteTranslation              : Contributte\Translation\DI\TranslationExtension
    nettrineCache                       : Nettrine\Cache\DI\CacheExtension
    nettrineDbal                        : Nettrine\DBAL\DI\DbalExtension
    nettrineOrm                         : Nettrine\ORM\DI\OrmExtension
    nettrineOrmAttributes               : Nettrine\ORM\DI\OrmAttributesExtension
    nettrineOrmConsole                  : Nettrine\ORM\DI\OrmConsoleExtension
    nettrineOrmCache                    : Nettrine\ORM\DI\OrmCacheExtension
    ipubDoctrineCrud                    : IPub\DoctrineCrud\DI\DoctrineCrudExtension
    ipubDoctrineTimestampable           : IPub\DoctrineTimestampable\DI\DoctrineTimestampableExtension
    ipubPhone                           : IPub\Phone\DI\PhoneExtension
    fbDateTimeFactory                   : FastyBird\DateTimeFactory\DI\DateTimeFactoryExtension
    fbJsonApi                           : FastyBird\JsonApi\DI\JsonApiExtension
    fbSimpleAuth                        : FastyBird\SimpleAuth\DI\SimpleAuthExtension
    fbMetadataLibrary                   : FastyBird\Library\Metadata\DI\MetadataExtension
    fbExchangeLibrary                   : FastyBird\Library\Exchange\DI\ExchangeExtension

services:
    - {factory: IPub\SlimRouter\Http\ResponseFactory}
    -
        factory: IPub\SlimRouter\Routing\Router
        setup:
            - addMiddleware(@fbJsonApi.middlewares.jsonapi)

    -
        factory: FastyBird\Module\Devices\Tests\Fixtures\Dummy\DummyConnectorFactory
        tags: [connector_type: dummy]

    - {factory: FastyBird\Module\Devices\Tests\Fixtures\Dummy\DummyConnectorSchema}
    - {factory: FastyBird\Module\Devices\Tests\Fixtures\Dummy\DummyConnectorHydrator}
    - {factory: FastyBird\Module\Devices\Tests\Fixtures\Dummy\DummyDeviceSchema}
    - {factory: FastyBird\Module\Devices\Tests\Fixtures\Dummy\DummyDeviceHydrator}
    - {factory: FastyBird\Module\Devices\Tests\Fixtures\Dummy\DummyChannelSchema}
    - {factory: FastyBird\Module\Devices\Tests\Fixtures\Dummy\DummyChannelHydrator}
    - {factory: FastyBird\Module\Devices\Tests\Tools\DateTimeProvider}

    cache.storage: Nette\Caching\Storages\DevNullStorage

decorator:
    Doctrine\Persistence\Mapping\Driver\MappingDriverChain:
        setup:
            - addDriver(@nettrineOrmAttributes.attributeDriver, 'FastyBird\Module\Devices\Tests\Fixtures\Dummy')
    Doctrine\ORM\Mapping\Driver\AttributeDriver:
        setup:
            - addPaths([%appDir%/fixtures/dummy])

fbDevicesModule:
    exchange: false

contributteTranslation:
    locales:
        default: en_US
        fallback: [en_US, en]
    localeResolvers: []
    dirs:
        - %appDir%/../src/Translations
        - %vendorDir%/fastybird/json-api/src/Translations

nettrineDbal:
    connection:
        serverVersion: 5.7
        host: 127.0.0.1
        port: 3306
        driver: pdo_mysql
        memory: false
        dbname: testdb
        user: root
        password: root
        charset: utf8
        wrapperClass: \FastyBird\Module\Devices\Tests\Tools\ConnectionWrapper

        types:
            uuid_binary:
                class: Ramsey\Uuid\Doctrine\UuidBinaryType
                commented: false
            utcdatetime:
                class: IPub\DoctrineTimestampable\Types\UTCDateTime
                commented: false

        typesMapping:
            uuid_binary: binary

    debug:
        panel: false

nettrineOrm:
    configuration:
        proxyDir: %tempDir%/cache/doctrine.proxies

nettrineOrmAttributes:
    mapping: [
        FastyBird\Module\Devices\Tests\Fixtures\Dummy: %appDir%/fixtures/dummy
    ]

fbMetadataLibrary:
    documents:
        mapping: [
            FastyBird\Module\Devices\Tests\Fixtures\Dummy: %appDir%/fixtures/dummy
        ]

fbSimpleAuth:
    token:
        issuer: com.fastybird.auth-module
        signature: 'g3xHbkELpMD9LRqW4WmJkHL7kz2bdNYAQJyEuFVzR3k='
    enable:
        middleware: true
        doctrine:
            mapping: true
        nette:
            application: true
    services:
        identity: true

fbJsonApi:
    meta:
        copyright: FastyBird s.r.o
