#
# Module DI configuration
#
# @license      More in LICENSE.md
# @copyright    https://www.fastybird.com
# @author       Adam Kadlec <adam.kadlec@fastybird.com>
# @package      FastyBird:DevicesModule!
# @subpackage   config
# @since        0.1.0
#
# @date         25.11.20

php:
    date.timezone: Europe/Prague

extensions:
    contributteTranslation              : Contributte\Translation\DI\TranslationExtension
    contributeFlysystem                 : Contributte\Flysystem\DI\FlysystemExtension
    nettrineAnnotations                 : Nettrine\Annotations\DI\AnnotationsExtension
    nettrineCache                       : Nettrine\Cache\DI\CacheExtension
    nettrineDbal                        : Nettrine\DBAL\DI\DbalExtension
    nettrineOrm                         : Nettrine\ORM\DI\OrmExtension
    nettrineOrmAnnotations              : Nettrine\ORM\DI\OrmAnnotationsExtension
    nettrineOrmConsole                  : Nettrine\ORM\DI\OrmConsoleExtension
    nettrineOrmCache                    : Nettrine\ORM\DI\OrmCacheExtension
    ipubDoctrineConsistence             : IPub\DoctrineConsistence\DI\DoctrineConsistenceExtension
    ipubDoctrineCrud                    : IPub\DoctrineCrud\DI\DoctrineCrudExtension
    ipubDoctrineDynamicDiscriminatorMap : IPub\DoctrineDynamicDiscriminatorMap\DI\DoctrineDynamicDiscriminatorMapExtension
    ipubDoctrineTimestampable           : IPub\DoctrineTimestampable\DI\DoctrineTimestampableExtension
    ipubPhone                           : IPub\Phone\DI\PhoneExtension
    fbBootstrap                         : FastyBird\Bootstrap\DI\BootstrapExtension
    fbDateTimeFactory                   : FastyBird\DateTimeFactory\DI\DateTimeFactoryExtension
    fbJsonApi                           : FastyBird\JsonApi\DI\JsonApiExtension
    fbSimpleAuth                        : FastyBird\SimpleAuth\DI\SimpleAuthExtension
    fbMetadataLibrary                   : FastyBird\Library\Metadata\DI\MetadataExtension
    fbExchangeLibrary                   : FastyBird\Library\Exchange\DI\ExchangeExtension

services:
    - {factory: Symfony\Component\Console\Application}
    - {factory: IPub\SlimRouter\Http\ResponseFactory}
    -
        factory: IPub\SlimRouter\Routing\Router
        setup:
            - addMiddleware(@fbJsonApi.middlewares.jsonapi)
    - {factory: React\EventLoop\Loop::get}

    -
        factory: FastyBird\Module\Devices\Tests\Fixtures\Dummy\DummyConnectorFactory
        tags: [connector_type: dummy]
    - {factory: FastyBird\Module\Devices\Tests\Fixtures\Dummy\DummyConnectorSchema}

decorator:
    Doctrine\Persistence\Mapping\Driver\MappingDriverChain:
        setup:
            - addDriver(@nettrineOrmAnnotations.annotationDriver, 'FastyBird\Module\Devices\Tests\Fixtures\Dummy')
    Doctrine\ORM\Mapping\Driver\AnnotationDriver:
        setup:
            - addPaths([%appDir%/fixtures/dummy])

contributteTranslation:
    locales:
        default: en_US
        fallback: [en_US, en]
    localeResolvers: []
    dirs:
        - %appDir%/../src/Translations
        - %vendorDir%/fastybird/json-api/src/Translations

contributeFlysystem:
    filesystem:
        default:
            adapter: League\Flysystem\Local\LocalFilesystemAdapter(%tempDir%)
            autowired: true

nettrineDbal:
    connection:
        serverVersion: 5.7
        host: 127.0.0.1
        port: 3306
        driver: pdo_mysql
        memory: false
        dbname: testdb
        user: root
        password: root
        charset: utf8
        wrapperClass: \FastyBird\Module\Devices\Tests\Tools\ConnectionWrapper

        types:
            uuid_binary:
                class: Ramsey\Uuid\Doctrine\UuidBinaryType
                commented: false
            utcdatetime:
                class: IPub\DoctrineTimestampable\Types\UTCDateTime
                commented: false

        typesMapping:
            uuid_binary: binary

nettrineAnnotations:
    debug: %debugMode%
    ignore:
        - writable
        - required
        - module
        - author
        - subpackage
        - package
        - phpcsSuppress

nettrineOrm:
    configuration:
        proxyDir: %tempDir%/cache/doctrine.proxies

nettrineOrmAnnotations:
    mapping: [
        FastyBird\Module\Devices\Tests\Fixtures\Dummy: %appDir%/fixtures/dummy
    ]

fbSimpleAuth:
    token:
        issuer: com.fastybird.auth-module
        signature: 'g3xHbkELpMD9LRqW4WmJkHL7kz2bdNYAQJyEuFVzR3k='
    enable:
        middleware: true
        doctrine:
            mapping: true
    services:
        identity: true

fbJsonApi:
    meta:
        copyright: FastyBird s.r.o
