@import '@fastybird/web-ui-library/src/assets/variables/colors';
@import '@fastybird/web-ui-library/src/assets/variables/layout';
@import '@fastybird/web-ui-library/src/assets/mixins/utilities';

.fb-devices-module-property-settings-property-add-modal {
	&__row {
		gap: $padding-sm;
		margin-top: $margin-md;
		margin-bottom: $margin-md;

		@include flex-row;

		&-item {
			margin-bottom: $margin-sm;
			flex-grow: 1;
		}
	}

	&__button {
		:deep(.fb-theme-ui-button[data-size='lg']) {
			text-align: center;
			overflow: hidden;
			padding: $padding-md 0;
		}

		&-icon {
			display: block;
			margin: 0 auto $margin-sm auto;
		}
	}

	&__item {
		&[disabled='true'] {
			cursor: not-allowed;
			color: $gray-lighter;

			:deep(.fb-theme-ui-item__button) {
				color: $gray-lighter;
			}
		}
	}

	&__no-results {
		margin-top: $margin-md;
	}
}
