@import '@fastybird/web-ui-library/src/assets/variables/layout';
@import '@fastybird/web-ui-library/src/assets/variables/texts';

.fb-devices-module-devices-device-toolbar {
	&__container {
		:deep(.fb-theme-ui-button[data-variant='link']:hover),
		:deep(.fb-theme-ui-button[data-variant='link']:focus),
		:deep(.fb-theme-ui-button[data-variant='link']:active),
		:deep(.fb-theme-ui-button[data-variant='link-default']:hover),
		:deep(.fb-theme-ui-button[data-variant='link-default']:focus),
		:deep(.fb-theme-ui-button[data-variant='link-default']:active) {
			text-decoration: none;
		}
	}

	&__paging {
		display: inline-block;
		padding: 0 $padding-sm;

		&-page {
			font-weight: $font-weight-bold;
		}

		&-total {
			font-weight: $font-weight-bold;
		}
	}
}
