@use 'element-plus/theme-chalk/src/mixins/mixins' as *;

@include b(devices-list-devices) {
	@include e(button) {
		border-radius: 5px;
		margin: 2px 5px;
		background-color: var(--el-color-warning);
		color: var(--el-color-white);
		font-size: 1rem;
	}
}
