@use 'element-plus/theme-chalk/src/mixins/mixins' as *;

@include b(devices-list-devices) {
	@include e(header) {
		:deep(.el-radio-button__inner) {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

	@include e(table) {
		:deep(.el-table__inner-wrapper) {
			&:before {
				display: none;
			}
		}
	}
}
