#
# Module DI configuration
#
# @license      More in LICENSE.md
# @copyright    https://www.fastybird.com
# @author       Adam Kadlec <adam.kadlec@fastybird.com>
# @package      FastyBird:DevicesModule!
# @subpackage   config
# @since        0.1.0
#
# @date         26.04.21

fbDevicesModule:
    apiPrefix: false
