parameters:
    level: max

    paths:
        - ../tests/cases/

    bootstrapFiles:
        - phpstan-bootstrap.php

    scanDirectories:
        - ../src

    ignoreErrors:
        -
            message: '#^Return type of call to method PHPUnit\\Framework\\TestCase::createMock\(\) contains unresolvable type.#'
            path: ../tests/cases/unit/Subscribers/ModuleEntitiesTest.php
            count: 28
        -
            message: '#^Return type of call to method PHPUnit\\Framework\\TestCase::createMock\(\) contains unresolvable type.#'
            path: ../tests/cases/unit/Models/States/ChannelPropertiesStatesWritingTest.php
            count: 6
        -
            message: '#^Return type of call to method PHPUnit\\Framework\\TestCase::createMock\(\) contains unresolvable type.#'
            path: ../tests/cases/unit/Models/States/ChannelPropertiesStatesReadingTest.php
            count: 4
