parameters:
    level: max

    paths:
        - ../src/

    ignoreErrors:
        - message: '#^Method FastyBird\\Module\\Devices\\Entities\\Devices\\Device::getSource\(\) never returns FastyBird\\Library\\Metadata\\Types\\ConnectorSource so it can be removed from the return type.#'
        - message: '#^Method FastyBird\\Module\\Devices\\Entities\\Devices\\Device::getSource\(\) never returns FastyBird\\Library\\Metadata\\Types\\PluginSource so it can be removed from the return type.#'
        - message: '#^Method FastyBird\\Module\\Devices\\Entities\\Connectors\\Connector::getSource\(\) never returns FastyBird\\Library\\Metadata\\Types\\ConnectorSource so it can be removed from the return type.#'
        - message: '#^Method FastyBird\\Module\\Devices\\Entities\\Connectors\\Connector::getSource\(\) never returns FastyBird\\Library\\Metadata\\Types\\PluginSource so it can be removed from the return type.#'
