parameters:
    level: max

    paths:
        - ../src/

    bootstrapFiles:
        - phpstan-bootstrap.php

    ignoreErrors:
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Hydrators/Property.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Entities/Devices/Device.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/DevicesV1.php
            count: 15
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/DevicePropertyStateV1.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/DevicePropertyChildrenV1.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/DevicePropertiesV1.php
            count: 12
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/DeviceParentsV1.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/DeviceControlsV1.php
            count: 8
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/DeviceChildrenV1.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/ConnectorsV1.php
            count: 4
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/ConnectorPropertyStateV1.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/ConnectorPropertiesV1.php
            count: 12
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/ConnectorControlsV1.php
            count: 8
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/ChannelsV1.php
            count: 15
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/ChannelPropertyStateV1.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/ChannelPropertyChildrenV1.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/ChannelPropertiesV1.php
            count: 18
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/ChannelControlsV1.php
            count: 11
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Controllers/BaseV1.php
            count: 1
