includes:
    - phpstan.base.neon
    - phpstan.config.src.neon

parameters:
    resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.src.php

    stubFiles:
        - ../tests/stubs/BaseLinkInterface.stub
        - ../tests/stubs/ContextInterface.stub
        - ../tests/stubs/LinkInterface.stub
        - ../tests/stubs/PositionInterface.stub
        - ../tests/stubs/SchemaInterface.stub
