@import '@fastybird/web-ui-library/src/assets/variables/colors';
@import '@fastybird/web-ui-library/src/assets/variables/layout';
@import '@fastybird/web-ui-library/src/assets/variables/texts';

.fb-devices-module-channel-settings-channel-settings {
	&__container {
		overflow-x: auto;
		padding-bottom: $padding-md;
		flex-grow: 1;

		:deep(.fb-theme-ui-items-container__heading) {
			padding-left: $padding-sm;

			h3 {
				font-size: 1.7rem;
			}
		}
	}

	&__heading {
		font-size: $font-size-large;
		line-height: $line-height-large;
		border-bottom: 1px solid $gray-lighter;
		padding-left: $padding-sm;
		margin: $margin-sm 0 0 0;
	}

	&__result {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $bg-color-body;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 5;

		:deep(.fb-theme-ui-spinner__container[data-size='lg']) {
			width: 10rem;
			height: 10rem;
		}

		:deep(.fb-theme-ui-result-ok__container),
		:deep(.fb-theme-ui-result-err__container) {
			width: 10rem;
			height: 10rem;
		}

		:deep(.fb-theme-ui-spinner__container[data-size='lg']::before),
		:deep(.fb-theme-ui-spinner__container[data-size='lg']::after) {
			width: 10rem;
			height: 10rem;
			margin: -5rem 0 0 -5rem;
			border-width: 4px;
		}
	}

	&__add-item {
		&-row {
			padding: $padding-xs;

			:deep(.fb-theme-ui-button[data-size='lg']) {
				padding: 0;
				font-size: $font-size-large;
				line-height: 5.3rem;

				.fb-theme-ui-button__inner {
					justify-content: center;
				}
			}
		}
	}
}
